body {
    max-width: 1440px;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.gallery {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;

    transition: transform .4s ease;
}

.gallery-image:hover {
    transform: scale(1.04);
}

.sl-overlay {
    background: rgba(46, 47, 66, 0.8) !important;
}

.sl-navigation button,
.sl-close,
.sl-counter {
    color: #fff !important
}